
<header class="top">

<h1>Satanic Dabers</h1>

<nav>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/news">News</a>
<a href="/videos">Videos 1</a>
<a href="/videos">Videos 2</a>
<a href="/videos">Videos 3</a>
</nav>

<form action="/admin/login" method="POST" class="login">
<input name="username" placeholder="username">
<input name="password" type="password" placeholder="password">
<button>Register</button>
</form>

</header>
